NEXT_PUBLIC_AUTH_API_URL=https://green-cart-auth-service-574911690185.us-central1.run.app
NEXT_PUBLIC_INVENTORY_API_URL=https://green-cart-inventory-service-574911690185.us-central1.run.app
NEXT_PUBLIC_PAYMENT_API_URL=https://green-cart-payment-service-574911690185.us-central1.run.app
NEXT_PUBLIC_NOTIFICATION_API_URL=https://green-cart-notification-service-574911690185.us-central1.run.app
